[submodule "ext/org.civicrm.flexmailer"]
	path = ext/org.civicrm.flexmailer
	url = https://github.com/civicrm/org.civicrm.flexmailer
[submodule "ext/org.civicrm.shoreditch"]
	path = ext/org.civicrm.shoreditch
	url = https://github.com/civicrm/org.civicrm.shoreditch
[submodule "ext/au.com.agileware.ewayrecurring"]
	path = ext/au.com.agileware.ewayrecurring
	url = https://github.com/agileware/au.com.agileware.ewayrecurring.git
[submodule "ext/nz.co.fuzion.transactional"]
	path = ext/nz.co.fuzion.transactional
	url = https://github.com/fuzionnz/nz.co.fuzion.transactional.git
[submodule "cronplus"]
	path = cronplus
	url = https://lab.civicrm.org/extensions/cronplus.git
[submodule "ext/cronplus"]
	path = ext/cronplus
	url = https://lab.civicrm.org/extensions/cronplus.git
[submodule "ext/com.elisseck.civihoneypot"]
	path = ext/com.elisseck.civihoneypot
	url = https://github.com/elisseck/com.elisseck.civihoneypot.git
[submodule "ext/uk.co.nfpservices.module.memberonlyevent"]
	path = ext/uk.co.nfpservices.module.memberonlyevent
	url = https://github.com/MillerTech-CRM/uk.co.nfpservices.module.memberonlyevent.git
[submodule "ext/au.com.agileware.removeactionlog"]
	path = ext/au.com.agileware.removeactionlog
	url = https://bitbucket.org/agileware/au.com.agileware.removeactionlog.git
[submodule "ext/nz.cofuzion.accountsync"]
	path = ext/nz.cofuzion.accountsync
	url = https://github.com/eileenmcnaughton/nz.co.fuzion.accountsync.git
[submodule "ext/nz.cofuzion.civixero"]
	path = ext/nz.cofuzion.civixero
	url = https://github.com/eileenmcnaughton/nz.co.fuzion.civixero.git
