[submodule "ext/org.civicrm.flexmailer"]
	path = ext/org.civicrm.flexmailer
	url = https://github.com/civicrm/org.civicrm.flexmailer
[submodule "ext/org.civicrm.shoreditch"]
	path = ext/org.civicrm.shoreditch
	url = https://github.com/civicrm/org.civicrm.shoreditch
[submodule "ext/au.com.agileware.ewayrecurring"]
	path = ext/au.com.agileware.ewayrecurring
	url = https://github.com/agileware/au.com.agileware.ewayrecurring.git
[submodule "ext/nz.co.fuzion.transactional"]
	path = ext/nz.co.fuzion.transactional
	url = https://github.com/fuzionnz/nz.co.fuzion.transactional.git
[submodule "cronplus"]
	path = cronplus
	url = https://lab.civicrm.org/extensions/cronplus.git
[submodule "ext/cronplus"]
	path = ext/cronplus
	url = https://lab.civicrm.org/extensions/cronplus.git
[submodule "ext/com.elisseck.civihoneypot"]
	path = ext/com.elisseck.civihoneypot
	url = https://github.com/elisseck/com.elisseck.civihoneypot.git
[submodule "ext/uk.co.nfpservices.module.memberonlyevent"]
	path = ext/uk.co.nfpservices.module.memberonlyevent
	url = https://github.com/MillerTech-CRM/uk.co.nfpservices.module.memberonlyevent.git
[submodule "ext/au.com.agileware.removeactionlog"]
	path = ext/au.com.agileware.removeactionlog
	url = https://bitbucket.org/agileware/au.com.agileware.removeactionlog.git
[submodule "ext/au.com.agileware.elections"]
	path = ext/au.com.agileware.elections
	url = https://github.com/agileware/au.com.agileware.elections.git
[submodule "ext/au.com.agileware.civiquickbooks"]
	path = ext/au.com.agileware.civiquickbooks
	url = https://github.com/agileware/au.com.agileware.civiquickbooks.git
[submodule "ext/au.com.agileware.civicontact"]
	path = ext/au.com.agileware.civicontact
	url = https://github.com/agileware/au.com.agileware.civicontact.git
[submodule "ext/au.com.agileware.scheduledcaserecipients"]
	path = ext/au.com.agileware.scheduledcaserecipients
	url = https://github.com/agileware/au.com.agileware.scheduledcaserecipients.git
[submodule "ext/au.com.agileware.caseactivityduplicator"]
	path = ext/au.com.agileware.caseactivityduplicator
	url = https://github.com/agileware/au.com.agileware.caseactivityduplicator.git
[submodule "ext/au.com.agileware.mailingsubscriptions"]
	path = ext/au.com.agileware.mailingsubscriptions
	url = https://github.com/agileware/au.com.agileware.mailingsubscriptions.git
[submodule "ext/au.com.agileware.scheduledccrecipients"]
	path = ext/au.com.agileware.scheduledccrecipients
	url = https://github.com/agileware/au.com.agileware.scheduledccrecipients.git
[submodule "ext/au.com.agileware.volunteeractivities"]
	path = ext/au.com.agileware.volunteeractivities
	url = https://github.com/agileware/au.com.agileware.volunteeractivities.git
[submodule "ext/au.com.agileware.eventmanagelocations"]
	path = ext/au.com.agileware.eventmanagelocations
	url = https://github.com/agileware/au.com.agileware.eventmanagelocations.git
[submodule "ext/au.com.agileware.activitycustomfieldsreport"]
	path = ext/au.com.agileware.activitycustomfieldsreport
	url = https://github.com/agileware/au.com.agileware.activitycustomfieldsreport.git
[submodule "ext/au.com.agileware.contactsummarymembershipreport"]
	path = ext/au.com.agileware.contactsummarymembershipreport
	url = https://github.com/agileware/au.com.agileware.contactsummarymembershipreport.git
[submodule "ext/au.com.agileware.membershipcustomfieldsreport"]
	path = ext/au.com.agileware.membershipcustomfieldsreport
	url = https://github.com/agileware/au.com.agileware.membershipcustomfieldsreport.git
[submodule "ext/au.com.agileware.australiansenatorsandmembers"]
	path = ext/au.com.agileware.australiansenatorsandmembers
	url = https://github.com/agileware/au.com.agileware.australiansenatorsandmembers.git
[submodule "ext/au.com.agileware.activitiesbyemployerreport"]
	path = ext/au.com.agileware.activitiesbyemployerreport
	url = https://github.com/agileware/au.com.agileware.activitiesbyemployerreport.git
[submodule "ext/civicrm-recalculate-recipients"]
	path = ext/civicrm-recalculate-recipients
	url = https://github.com/3sd/civicrm-recalculate-recipients.git
[submodule "ext/civicrm-recurring-mail"]
	path = ext/civicrm-recurring-mail
	url = https://github.com/3sd/civicrm-recurring-mail.git
[submodule "ext/uk.co.vedaconsulting.outlookapi"]
	path = ext/uk.co.vedaconsulting.outlookapi
	url = https://github.com/veda-consulting/uk.co.vedaconsulting.outlookapi.git
[submodule "ext/sharepoint"]
	path = ext/sharepoint
	url = https://lab.civicrm.org/extensions/sharepoint.git
[submodule "ext/checksumexport"]
	path = ext/checksumexport
	url = https://lab.civicrm.org/extensions/checksumexport.git
[submodule "ext/com.asludds.turfcutter"]
	path = ext/com.asludds.turfcutter
	url = https://gitlab.com/asludds/civicrm-turfcutter.git
[submodule "ext/invoiceaddressapi"]
	path = ext/invoiceaddressapi
	url = https://lab.civicrm.org/extensions/invoiceaddressapi.git
[submodule "ext/uk.co.mjwconsult.checksum"]
	path = ext/uk.co.mjwconsult.checksum
	url = https://github.com/mattwire/uk.co.mjwconsult.checksum.git
[submodule "ext/de.systopia.contactinactive"]
	path = ext/de.systopia.contactinactive
	url = https://github.com/systopia/de.systopia.contactinactive.git
[submodule "ext/org.civicoop.recurringcontributionsearch"]
	path = ext/org.civicoop.recurringcontributionsearch
	url = https://github.com/CiviCooP/org.civicoop.recurringcontributionsearch.git
[submodule "ext/au.com.agileware.xeroitems"]
	path = ext/au.com.agileware.xeroitems
	url = https://github.com/agileware/au.com.agileware.xeroitems.git
[submodule "ext/au.com.agileware.ux"]
	path = ext/au.com.agileware.ux
	url = git@bitbucket.org:agileware/au.com.agileware.ux.git
[submodule "ext/au.com.agileware.moretokens"]
	path = ext/au.com.agileware.moretokens
	url = https://github.com/agileware/au.com.agileware.moretokens.git
[submodule "ext/org.civicoop.groupprotect"]
	path = ext/org.civicoop.groupprotect
	url = https://github.com/CiviCooP/org.civicoop.groupprotect.git
[submodule "ext/au.com.agileware.xerountax"]
	path = ext/au.com.agileware.xerountax
	url = https://github.com/agileware/au.com.agileware.xerountax.git
[submodule "ext/com.megaphonetech.addressl10n"]
	path = ext/com.megaphonetech.addressl10n
	url = https://github.com/MegaphoneJon/com.megaphonetech.addressl10n
[submodule "ext/au.com.agileware.lineitemtweaks"]
	path = ext/au.com.agileware.lineitemtweaks
	url = https://github.com/agileware/au.com.agileware.lineitemtweaks.git
[submodule "ext/au.com.agileware.xerotweaks"]
	path = ext/au.com.agileware.xerotweaks
	url = https://github.com/agileware/au.com.agileware.xerotweaks.git
[submodule "ext/au.com.agileware.invoice-membership-contact"]
	path = ext/au.com.agileware.invoice-membership-contact
	url = https://github.com/agileware/au.com.agileware.invoice-membership-contact.git
[submodule "ext/nz.co.fuzion.accountsync"]
	path = ext/nz.co.fuzion.accountsync
	url = https://github.com/eileenmcnaughton/nz.co.fuzion.accountsync.git
[submodule "ext/nz.co.fuzion.civixero"]
	path = ext/nz.co.fuzion.civixero
	url = https://github.com/eileenmcnaughton/nz.co.fuzion.civixero.git
